@model IEnumerable<Rhythm_Of_Time.Models.SongDTO>

@{
    ViewData["Title"] = "Song List";
}

<h1>Song List</h1>

<p>
    <a asp-action="New">Create New Song</a>
    <a asp-controller="LinkPage" asp-action="ArtistSongLink">Link Artist to Song</a>
    <a asp-controller="LinkPage" asp-action="AwardSongLink">Link Award to Song</a>
    <a asp-controller="ArtistPage" asp-action="New">Add new Artist</a>
    <a asp-controller="AwardPage" asp-action="New">Add new Award</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Album)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseYear)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.SongId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SongId">Details</a> |
                    <a asp-action="ConfirmDelete" asp-route-id="@item.SongId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
