@model IEnumerable<Rhythm_Of_Time.Models.AwardDto>

@{
    ViewData["Title"] = "Artist List";
}

<h1>Song List</h1>

<p>
    <a asp-action="New">Create New Award</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.AwardId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AwardId">Details</a> |
                    <a asp-action="ConfirmDelete" asp-route-id="@item.AwardId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
