@model Rhythm_Of_Time.Models.ArtistDetails

@{
    ViewData["Title"] = "Artist Details";
}

<h2>@Model.Artist.name</h2>
<a asp-action="List">Back to Artist List</a>
<p><strong>Nationality:</strong> @Model.Artist.nationality</p>

<h3>Songs</h3>
@if (Model.Song.Any())
{
    <ul>
        @foreach (var song in Model.Song)
        {
            <li>@song.Title</li>
        }
    </ul>
}
else
{
    <p>No songs found for this artist.</p>
}

<h3>Awards</h3>
@if (Model.Awards.Any())
{
    <ul>
        @foreach (var award in Model.Awards)
        {
            <li>@award.name - @award.description</li>
        }
    </ul>
}
else
{
    <p>No awards found for this artist.</p>
}

<a href="@Url.Action("List", "SongPage")">Back to Song List</a>
